.palindrome{
    background-color: lightgreen;
    align-items: center;
    align-content: center;
    font: bold;

}
.not-palindrome{
    background-color: red;
    align-items: center;
    align-content: center;
    font: bold;
}
